.git
.github
.gitignore
.dockerignore
**/__pycache__
*.pyc
.pytest_cache
.ruff_cache
.mypy_cache
.venv
venv
env
mlruns
.dvc
outputs/*
!outputs/**/.gitkeep
models/*
!models/.gitkeep
data/raw/*
!data/raw/.gitkeep
*.log
*.pdf
Nouveau dossier/
.idea
.vscode
reports/evaluation_report.md
reports/scraper_stats.md

frontend/node_modules
frontend/dist
